.navbar-conteiner {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    transition: 1s;
    position: fixed;
    z-index: 1;
}

.nav-conteiner-below {
    background-color: white;
    display: flex;
    justify-content: flex-end;
    width: 100%;
    transition: 1s;
    position: fixed;
    z-index: 1;
    border: 1px solid #0000007f;
}

.navbar-conteiner nav {
    display: flex;
    height: 20vh;
    align-items: center;
    width: 100%;
    transition: 1s;
}
.nav-conteiner-below nav {
    display: flex;
    height: 10vh;
    align-items: center;
    width: 100%;
    transition: 1s;
}


.navbar-buttons {
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    right: 0;
}

.navbar-buttons-below{
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    right: 0;
}

.navbar-buttons a {
    text-decoration: none;
    color: white;
    padding-bottom: 0.5rem;   
    position: relative; 
}

.navbar-buttons-below li, .navbar-buttons li {
    color: white;
    list-style: none;
}

 
.navbar-buttons-below a{
    text-decoration: none;
    color: #008bff;
    padding-bottom: 0.5rem;
    position: relative;
}


.is-current a::before  {
    width: 80%;
    background-color: white;
}

.is-current-below a::before  {
    width: 80%;
    background-color: #008bff ;
}


 a:before {
    content: "";
    position: absolute;
    margin-left: 0;
    width: 0;
    bottom: 0;
    left: 0;
    height: 2px;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
    background-color: #0078ff;
  }
a:hover:before,
a:focus:before {
    width: 80%;
  }