.about-conteiner {
    height: 100vh;
    scroll-behavior: smooth !important;
    background-image: radial-gradient( circle 547px at 50.6% 50%,  rgba(0,0,0,1) 0%, rgba(69,69,69,1) 25.8%, rgba(178,178,178,1) 65.7%, rgba(255,255,255,1) 100.2% );
}

.about-card {
    display: flex;
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin: 14%;
    flex-direction: column;
}